@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
u
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}


.wrapper {
  width: 100vw;
  height: 100vh;
  background-color:#191c32;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  font-weight: 800;
}

.brand {
  margin-top: -7px;
}
.brand span{
  color: aqua;
}

.menu li {
  list-style: none;

}
.menu a{
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}
.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.menu .active {
  color: aqua;
}
.menu a:hover {
  background-color: aqua;
  color: #191c32;
  transition: ease-in .5s;
}
.toggle-menu,
.info-content_subtitle,
.info-content .social-network {
  display: none;
}
.info-content_subtitle {
  margin-bottom: .5em;
}
.info-content {
  margin-right: 5em;
}
.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

h1 {
  font-size: clamp(4vw, 1.5em, 3em);
}
span {
  color: aqua;
}

.download-cv a {
  text-decoration: none;
}
.download-cv,
.project-details-button {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}
.download-cv:hover {
  background-color: #fff;
  box-shadow: none;
}
.download-cv-readmore {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}
.download-cv-readmore:hover {
  background-color: #191c32;
  box-shadow: none;
  color: #fff;
}

.main img {
  width: 340px;
  border: 7px solid aqua;
  height: 450px;
}

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}
.about img {
  width: 28em;
  height: 30em;
  grid-column: 1/4;
}
.about-info {
  grid-column: 4/15;
  padding: 3em;
}
.about-info h2 {
  font-size: 2em;
  color: #191c32;
}
.about p {
  margin-bottom: 1em;
  font-weight: 500;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: aqua;
  margin-top: 5px;
  margin-bottom: 2em;
}
.portfolio,
.contact-section {
  width: 100vw;
  color: #fff;
}

.portfolio {
  width: 100vw;
  background-color: #191c32;
  color: #fff;
}
.portfolio-headings {
  width: 100vw;
  padding: 5em;
}
.portfolio-headings h2 {
  font-size: 2.5em;
}

.portfolio .container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 500px;
  color: #fff;
  background-color: rgb(53, 30, 151);
  margin: 1em;
}
.card p {
  text-align: center;
  padding: 1em;
}
.card_img {
  width: 100%;
  height: 150px;
  background-image: url(../img/2-original.png);
  background-size: cover;
}

.card_title {
  padding: 20px;
  text-align: center;
}

.project_links {
  display: flex;
  justify-content: space-evenly;
}

.project_links a {
  color: #fff;
  text-decoration: none;
}

.project_links i {
  font-size: 1.5em;
}

.card .project_details {
  margin: 0 auto;
  margin: 1em;
  width: 70%;
}

.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.card .project_details a {
  text-decoration: none;
  color: #191c32;
}

.project-details-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;  
}

.contact-headings h2 {
  margin-top: .5px;
  margin-left: 1em;
  font-size: 3em;
  color:#191c32;
}

.container-contact {
  padding: 3em;
  margin: 0 auto;
}

.container-contact img {
  width: 750px;
  height: 700px;
  bottom: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}
.form-group input,
.form-group textarea {
  padding: 10px 0px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #191c32;
  color: #fff;
}
.form-group textarea {
  height: 150px;
  background: none;
  color: #fff;
  padding: 1em;
  border: 1px solid #191c32;
}
.btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color:#191c32;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
  color: #fff;
  text-transform: uppercase;
}
.btn-submit:hover {
  background-color: aqua;
  color: #191c32;
  box-shadow: none;
}

.divider2 {
  height: 4px;
  width: 60px;
  background-color: #2b3058;
  margin-top: 5px;
  margin-bottom: 2em;
  margin-left: 3em;
}

.contact-form h4 {
  color: #191c32;
  margin-bottom: .5em;
}
.contact-form {
  width: 30%; 
  padding: 2em;
  float: left;
  background-color: rgba(255, 255, 255, 0.1); 
  border-radius: 10px;
  margin-left: 2em;
  color: #fff;
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: #191c32;
}

.footer-content h2 {
  font-size: 3em;
  color: #fff;
}

.footer-content h5 {
  align-items: center;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #fff;
}

.social-network {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
  color: #fff;
}
.social-network a {
  font-size: 2em;
  color: #191c32;
  color: #fff;
}

@media screen and (max-width: 800px){
  .menu {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #2b3058;
    z-index: 1;
    transform: translateX(-110%);
    transition: all .5s ease-in-out;
  }
  .menu li {
    margin: 2em;
  }
  .toggle-menu {
    display: block;
  }

  .fa-bars {
    font-size: 1.5em;
    margin-top: -.2em;
  }
  .toggle-menu .fa-close {
    font-size: 1.7em;
    display: none;
  }
  .show-menu {
    transform: translateX(0%);
    transition: all .5s ease-in-out;
  }
  .shw-menu {
    transform: translateX(0%);
    transition: all .5s ease-in-out;
  }


  .main,
  .about {
    display: flex;
    flex-direction: column-reverse;
  }
  .main img {
    width: min(70%, 350px);
    height: auto;
    margin-bottom: 1em;
  }

  .info-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .info-content .social-network,
  .info-content_subtitle {
    display: block;
  }
  .info-content .social-network{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
  }
  .info-content_p {
    display: none;
  }


  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: #191c32;
  }
  
  .footer-content h2 {
    font-size: 2em;
    color: #fff;
  }
  
  .footer-content h5 {
    align-items: center;
    font-size: 1em;
    margin-bottom: 1em;
    color: #fff;
  }
  
  .social-network {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
    color: #fff;
  }
  .social-network a {
    font-size: 2em;
    color: #191c32;
    color: #fff;
  }
  .portfolio {
    height: 520vw;
  }

} 
  
